@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

body {
  font-family: "Red Hat Text", serif;
}

.container {
  display: flex;
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (width < 768px) {
  .container {
    display: block;
  }
  .container-grid {
    display: grid;
    grid-template-columns: auto;
    padding-inline: 24px;
  }
  h1 {
    padding-left: 24px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Red Hat Text", sans-serif;
  background-color: #fcf8f6;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.products-grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
  margin-bottom: 32px;
}

.container {
  padding: 24px;
}

h1 {
  font-size: var(--font-sizetext-preset-1);
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #260f08;
  margin-left: 112px;
}

.products-grid-item {
  position: relative;
}

.products-grid-item img {
  margin-bottom: 16px;
  max-width: 100%;
}

.category {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 400;
  line-height: 18.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #87635a;
  margin-bottom: 4px;
}

.name {
  font-size: var(--spacing200);
  font-weight: 600;
  line-height: 21.17px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #260f08;
  margin-bottom: 8px;
}
.adet {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 600;
  line-height: 18.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #c73b0f;
}
.price {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 400;
  line-height: 18.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #87635a;
}
.image-container {
  position: relative;
}

.sepete-ekle {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 12px 28px;
  border-radius: 999px;
  border: 1px solid var(--color-rose-400, #ad8a85);
  font-size: var(--font-sizetext-preset-4);
  font-weight: 600;
  line-height: 18.52px;
  color: #260f08;
  text-align: center;
  text-wrap: nowrap;
}
.sepete-ekle i {
  margin-right: 8px;
  color: #c73b0f;
}

.price-adet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.orders-container {
  padding: 24px;
  background-color: white;
  border-radius: 8px;
}

.orders-container h4 {
  font-size: var(--font-sizetext-preset-2);
  font-weight: 700;
  line-height: 31.75px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #c73b0f;
  margin-bottom: 24px;
}
.orders-grid-item {
  padding: 0px;
}
.sepeteekle {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 16px;
}
.orders-grid-item span {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 600;
  line-height: 18.52px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #87635a;
  display: flex;
  justify-content: center;
}

.deleteBtn {
  background-color: inherit;
  border-radius: 50%;
  color: #87635a;
  border: none;
  border: 2px solid #87635a;
}
hr {
  height: 1px;
  width: 100%;
  background-color: #f5eeec;
  border: none;
  margin-top: 16px;
}
.order-total {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
  margin-bottom: 24px;
}

.order-total span {
  font-size: var(--font-sizetext-preset-2);
  font-weight: 700;
  line-height: 31.75px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #260f08;
}
.carbon-neutral {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 16.5px 12px;
  background-color: #fcf8f6;
  border-radius: 8px;
  margin-bottom: 24px;
}

.carbon-neutral p {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 400;
  line-height: 18.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #260f08;
}

.confirmBtn {
  padding-block: 16px;
  width: 100%;
  color: white;
  background-color: #c73b0f;
  border: none;
  border-radius: 999px;
  font-family: Red Hat Text;
  font-size: var(--spacing200);
  font-weight: 600;
  line-height: 21.17px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.order-confirmed {
  padding: 40px 24px;
  border: none;
  border-radius: 12px 12px 0px 0px;
  width: 100%;
}
.confirm-header {
  margin-bottom: 32px;
}
.confirm-header img {
  margin-bottom: 24px;
}
.confirm-header h1 {
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  font-size: xx-large;
  margin-bottom: 0px;
  width: 327px;
}
.confirm-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.17px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #87635a;
}

.order-image {
  width: 48px;
  height: 48px;
}
.confirm-order-item {
  background-color: #fcf8f6;
  padding: 24px;
  border-radius: 8px;
}
.order-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.confirm-content-item {
  background-color: #fcf8f6;
}
.order-name {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 600;
  line-height: 18.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.image-name {
  display: flex;
  align-items: center;
  gap: 16px;
}
.order-price {
  font-size: var(--spacing200);
  font-weight: 600;
  line-height: 21.17px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.order-adet-price {
  display: flex;
  align-items: center;
  gap: 8px;
}
.order-adet {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 600;
  line-height: 18.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #c73b0f;
}
.order-adet-price {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 400;
  line-height: 18.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #87635a;
}

.order-total-confirm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 32px;
}
.order-total-confirm p {
  font-size: var(--font-sizetext-preset-4);
  font-weight: 400;
  line-height: 18.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.order-total-confirm span {
  font-size: var(--font-sizetext-preset-2);
  font-weight: 700;
  line-height: 31.75px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #260f08;
}

.closeOrderBtn {
  padding-block: 16px;
  width: 100%;
  color: white;
  background-color: #c73b0f;
  border: none;
  border-radius: 999px;
  font-family: Red Hat Text;
  font-size: var(--spacing200);
  font-weight: 600;
  line-height: 21.17px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
  .products-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .order-confirmed {
    margin-inline: 40px;
    padding: 40px;
    width: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .container-item h1 {
    font-size: xx-large;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .container {
    max-width: 1440px;
    width: 100%;
    padding-inline: 112px;
    display: flex;
    gap: 32px;
  }
  .products-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .orders-container {
    width: 384px;
    height: 299px;
    padding: 24px;
    background-color: white;
  }
  .order-confirmed {
    width: 592px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border-radius: 12px;
  }
}
